# MongoDB Configuration
MONGODB_URL=mongodb+srv://Life-Stream:rDrTCYdtpGWAN9V8@cluster0.u0g08eo.mongodb.net/Life-Stream-Db

# Server Configuration
PORT=5000
NODE_ENV=development

# Client URL (for CORS)
CLIENT_URL=http://localhost:5173

# JWT Configuration
JWT_SECRET=a39bc2ff84e599eb5854df14a2e9256eec577bed09cc0c12e38cb8a691929b5793379529f1595a930ef9b500e0b2a72b6b895785d1606895ef776add1d823c45
JWT_EXPIRE=7d


# Rate Limiting
HEALTH_CHECK_LIMIT=30

# Debug Mode
DEBUG=false
ALLOW_UNVERIFIED_USERS=false
